img{
    border-radius: 0%;    
}
.t{
    font-size: 35px;
}

.dd{
    z-index: 1;
    margin-top: 70px;
    margin-bottom: 70px;
}
.g{
    margin-bottom: 0px;
    text-decoration: underline;
}
.navbar{
    position:sticky;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
}
.page{
    height: 400px;
    padding-top: 80px;
    background:url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.c{
    line-height: 0.9;
}
.nav-link{
    margin-right: 30px;
}
.middle-page{
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

  .foot{
    height: 100px;
    background: black;
}
h4{
    font-size: 30px;;
}
img {
  margin-top: 20px;  
  width: 100%;
  height:auto;
  align-items: center;
}

@media (max-width: 576px) { 
    .display-2{
        font-size: 40px; 
    }
      
    .t{
        font-size: 20px;
    }
    .h{
        font-size: 16;
        line-height: 0.6;
    }
     .page{
        padding-top: 40px;
        height: 250px;
        background-color:red;
    }
    h4{
        font-size: 20px;;
    }
 }

