.f{
    color: rgba(255,105,180,1);
    margin: 50px 0px;

}
.dd{
    font-size: 50px;
}
.he{
    font-size: 36px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.co{
    margin: 15px 0px;
    width: 100%;
    padding: 13px 0px;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
    height: auto;
}
.co:hover{
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
}
.cll{
    color: rgba(255,105,180,1);
    line-height: 0.7;
    text-shadow:0px 1px 1px rgba(0,0,0,0.5);
    font-size:20px;
}
.nb{
    position: sticky;
    color: white;
    background-color: rgba(255,105,180,0.8);
}

.navbar a{
    margin: 0;
    color: seashell;
}
.navbar{
    z-index: 3;
    position: sticky;
    top:0;
}
.fab{
    font-size: 15px;
}
i{
    display: flex;
    justify-content: center;
}
.g{
    color: white;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    line-height: 0.7;
}

*{
    font-family: 'Times New Roman', Times, serif;
}
nav a:hover{
   margin: 0;
   border-bottom:2px solid white ;
}
.t{
    margin-top: 20px;
    padding: 0;
    background-color: rgba(255,105,180,0.8);
}
.h{
    margin-top: 40px;
    line-height: 0.5;
}
.carousel-inner{
    z-index: 2;
    border-radius: 2%;
}
.middle{
    padding-top: 50px;
    z-index: -1;
    background: linear-gradient(100deg, rgba(255,105,180,0.7),rgba(255,105,180,0.7)),url("https://cdn.pixabay.com/photo/2017/06/10/18/17/banner-2390380_960_720.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0% 75%,0% 0%);
}
.a3{
    z-index: 3;
}
@media (max-width: 576px) {
    .co{
        margin: 15px 10px;    }
    
    .g{
        font-size: 36px;
        line-height: 0.8;
    }
    .g1{
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        color:rgba(255,105,180,1);
        font-size: 30px;
        margin-top: 20px;
    }
    
    .c{
        
        color:rgba(255,105,180,1);
        font-size: 30px;
        line-height: 0.2;
        margin-bottom: 30px;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    }
    .a3{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        font-size: 21px;
    }
    .a1{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        line-height: 0.5;
        font-size: 18px;
    }
    .middle{
        height: 280px;
    }
    .h{
        margin-top: 17px;
        line-height: 0.8;
    }
 }