.navbar{
    z-index: 3;
    position: sticky;
    top:0;
}
.a11{
    width: 150px;
    height: auto;
    align-content: center;
    max-width: 50%;
    margin-top: 40px;
}
.g{
    margin: 0;
    line-height: 0.7;
}
.l1{
    line-height: 0.7;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
nav a:hover{
   margin: 0;
   border-bottom:2px solid white ;
}
.h{
    margin-top: 40px;
    line-height: 0.5;
}
.carousel-inner{
    z-index: 2;
    border-radius: 2%;
}
.middle{
    padding-top: 50px;
    background: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
@media (max-width: 576px) {
    .g{
        font-size: 36px;
        line-height: 0.8;
    }
    .g1{
        font-size: 30px;
        margin-top: 20px;
    }
    .a11{
        border-radius: 50%;
    }
    .c{
        font-size: 30px;
        line-height: 0.2;
        margin-bottom: 30px;
    }
    .a3{
        font-size: 21px;
    }
    .a1{
        line-height: 0.5;
        font-size: 18px;
    }
    .middle{
        height: 280px;
    }
    .h{
        margin-top: 17px;
        line-height: 0.8;
    }
 }